@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.media-default-skin--video .media-controls {
  inset-inline: calc(0.5rem + env(safe-area-inset-left))
    calc(0.5rem + env(safe-area-inset-right)) !important;
  bottom: calc(0.5rem + env(safe-area-inset-bottom)) !important;
}
