---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Kick VODs Player'
  description='SA simple video player for Kick VODs'
>
  <main class='max-w-screen-lg mx-auto px-2 md:px-0 pt-5'>
    <article class='prose lg:prose-xl mx-auto text-white [&>p]:mb-4'>
      <h2 class='mb-4 text-green-500 text-2xl font-bold'>About this app</h2>

      <p>
        I'm a big Twitch user, and recently, a lot of my favorite streamers have
        switched to Kick.
      </p>

      <p>
        I mostly watch VODs a few days after they're broadcast, and Kick has
        been disappointing in this area. There are playback issues, it doesn't
        save your spot in the video, and you can't use gestures on mobile to
        skip forward or backward, among other things.
      </p>

      <p>
        So, I made this app to make watching VODs on Kick more comfortable. It
        lets you watch Kick VODs easily. If you log in to the app (via Twitch,
        using the button in the top right), you can save your progress in videos
        and pick up where you left off later, even on a different device.
      </p>

      <p>
        Kick might block access to its content at some point, so I can't
        guarantee this app will work forever.
      </p>

      <p>
        You can find the source code on <a
          class='font-bold'
          href='https://github.com/javipm/kickvodplayer'
          target='blank'>GitHub</a
        >, and any contributions are welcome.
      </p>

      <p class='font-bold'>Thanks!</p>
    </article>
  </main>
</Layout>
