---
import Layout from '../layouts/Layout.astro'
import Videos from '../components/Videos'
---

<Layout title='Welcome to Astro.'>
  <div class='grid place-items-center h-screen text-white'>
    <Videos client:load />
  </div>
</Layout>
