---
import InfoIcon from '@/components/icons/Info'
import CodeIcon from '@/components/icons/Code'
---

<footer class='text-white pb-2 pt-10'>
  <div
    class='container mx-auto flex justify-between items-center max-w-screen-lg'
  >
    <div>
      <p class='text-xs'>
        Developed by{' '}
        <a
          href='https://twitter.com/javipm89'
          class='text-green-500'
          target='_blank'
        >
          javipm
        </a>
      </p>
    </div>
    <div class='flex space-x-4'>
      <a href='/about' class='text-white text-xl cursor-pointer'>
        <InfoIcon />
      </a>
      <a
        href='https://github.com/javipm/kickvodplayer'
        target='_blank'
        class='text-white text-xl cursor-pointer'
      >
        <CodeIcon />
      </a>
    </div>
  </div>
</footer>
)
