---
export const prerender = false

import Streamer from '@/components/Streamer'
import Layout from '@/layouts/Layout.astro'

import { getSession } from 'auth-astro/server'
const session = await getSession(Astro.request)
const userIsLogged = session !== null

const { name, videoId } = Astro.params
---

<Layout
  title=`Kick VODs Player - ${name}`
  description=`List of VODs from ${name}`
>
  <section class='justify-center mx-auto'>
    {
      name && (
        <Streamer
          streamer={name}
          userIsLogged={userIsLogged}
          videoId={parseInt(videoId || '')}
          client:load
        />
      )
    }
  </section>
</Layout>
